    @import url('grid.css');
    main div {
        box-sizing: border-box;
    }
    
    body {
        margin: 0px;
    }
    
    .container {
        max-width: 2000px;
        margin: 0 auto;
    }
    
    .slider {
        padding: 0px;
        margin: 0px 0px 30px;
        list-style-type: none;
    }
    
    .slider>li {
        display: none;
    }
    
    .slider>li.active {
        display: block;
    }
    
    .card {
        /* по умолчанию */
        overflow: visible;
        /* скрыть */
        overflow: hidden;
        /* появляются ползунки везде */
        overflow: scroll;
        /* появляются ползунки только там где надо */
        overflow: auto;
        /* по умолчанию */
        word-break: normal;
        /* автоматически добавляет перенос */
        word-break: break-all;
    }
    
    .border {
        border: 1px solid black;
    }
    
    .margin2 {
        margin: 10px;
        border: 1px solid black;
        width: calc(100% - 10px);
        height: calc(25vw - 10px);
    }
    
    .font {
        font-size: 16px;
    }
    
    .hover:hover {
        font-size: 20px;
        /* 1em = 16px (размер шрифта родителя)  2em  в данном случае 32px*/
        font-size: 2em;
        /* 1rem = 16px (поумолчанию у браузера) относительно браузера */
        font-size: 2rem;
        /* процент от значения родителя 250%=2.5em */
        font-size: 250%;
    }
    
    .height {
        line-height: 1.5;
        /* пробелы у плюсов важны без них не работает  */
        height: calc(32px + 3*1em*1.5 + 2.5em*1.5)
    }
    
    .margin-left {
        /* исключение не от родителя а от ширины  */
        margin-left: 10%;
    }
    /* 
li {
    font-size: 2rem;
    берет не от контенера родителя а от размера шрифта  
    margin: 1em;
} */
    
    img {
        max-width: 100%;
    }
    
    .slider img {
        max-width: 100%;
        width: 1280px;
        height: auto;
    }
    
    .flex {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
    }
    /* @media условие{
        селектор{
            свойство: значение
        }
    } */
    /* условия:
    
    медиа-функции (max-widht, max-height, orientatin( landscape, portarait и тп))
    */
    /* для маленкх экранов */
    /* @media screen and (max-width: 320px) {} */
    /* средних */
    
    @media screen and (max-width: 480px) {
        .slider {
            display: none;
        }
        .col-xs-12 {
            width: 100%;
        }
        .flex-xs-colun {
            flex-direction: column;
        }
        .height {
            line-height: 1.5;
            /* пробелы у плюсов важны без них не работает  */
            height: calc(32px + 3*1em*1.5 + 2.5em*1.5)
        }
    }
    /* больших */
    
    @media screen and (max-width: 768px) and (min-width: 481px) {
        .col-md-6 {
            width: 50%;
        }
    }
    
    @media screen and (min-width: 769px) and (max-width: 960px) {
        .col-lg-4 {
            width: 33.3%;
        }
        .cards>div:last-child {
            display: none;
        }
    }